<div class="frame" id="Frame">
    <div class="frame_line frame_line-left"></div>
    <div class="frame_line frame_line-right"></div>
    <div class="frame_line frame_line-top"></div>
    <div class="frame_line frame_line-bottom"></div>
</div>
<main>
    <div>
        <section class="page" style="display: block; opacity: 1">
            <div class="page_content home">
                <p class="home_aboutme">
                    <span
                        >Born in 2003 in Columbus, Ohio. I am a senior at The
                        Ohio</span
                    >
                    <span
                        >State University, pursuing a Bachelors Degree in
                        Computer</span
                    >
                    <span
                        >Science and Engineering. I graduate in May 2025. I
                        feel</span
                    >
                    <span
                        >fulfilled through creativity and collaboration. I am
                        always</span
                    >
                    <span
                        >expanding my skills and interests. I love to rock
                        climb,</span
                    >
                    <span
                        >skateboard, start new tech projects, and bike in my
                        free</span
                    >
                    <span
                        >time. Thank you for visiting my portfolio. This is my
                        first</span
                    >
                    <span>project with Angular.</span>
                </p>
            </div>
        </section>
    </div>
</main>
