<section class="page" style="display: block; opacity: 1">
    <div class="page_content project">
        <div class="project_list">
            <a
                class="project_item text-btn"
                href="https://github.com/NickWebber21"
                target="_blank"
                ><div class="project_title">PROJECT 1</div>
                <div class="project_info">
                    Oct.2024 / Portfolio / Design & Dev
                </div></a
            ><a
                class="project_item text-btn"
                href="https://github.com/NickWebber21"
                target="_blank"
                ><div class="project_title">PROJECT 2</div>
                <div class="project_info">Jul.2024 / Portfolio / Dev</div></a
            ><a
                class="project_item text-btn"
                href="https://github.com/NickWebber21"
                target="_blank"
                ><div class="project_title">PROJECT 3</div>
                <div class="project_info">
                    Apr.2024 / Special / Design & Dev
                </div></a
            ><a
                class="project_item text-btn"
                href="https://github.com/NickWebber21"
                target="_blank"
                ><div class="project_title">PROJECT 4</div>
                <div class="project_info">
                    Feb.2024 / Portfolio / Design & Dev
                </div></a
            >
        </div>
    </div>
</section>
